<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" *transloco="let t" cdkScrollable style="background: white">
    <div class="flex-auto pt-5 px-5 sm:p-10">
        <div class="pt-5 px-5 rounded-2xl">
            <!--scada-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-6">
                    <p class="text-7xl"><b>{{t('scada')}}</b></p>
                    <p class="text-2xl">{{t('scada-yazi')}}</p>
                </div>
                <div class="col-sm-6 pt-5 pl-5">
                    <img src="assets/images/projeler/1.PNG" alt="Most Otomasyon" style="max-width: 100%"/>
                </div>
            </div>
            <hr>
            <!--web scada-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-7 pt-5">
                    <img src="assets/images/projeler/2.png" alt="Most Otomasyon"/>
                </div>
                <div class="col-sm-5 pl-5">
                    <p class="text-7xl"><b>{{t('web-scada')}}</b></p>
                    <p class="text-2xl">{{t('web-scada-yazi')}}</p>
                    <h3><u>{{t('web-scada-avantajlari')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('web-scada-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('web-scada-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('web-scada-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('web-scada-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('web-scada-5')}}</p>
                </div>
            </div>
            <hr>
            <!--raporlama-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5">
                    <p class="text-7xl"><b>{{t('raporlama')}}</b></p>
                    <p class="text-2xl">{{t('raporlama-yazi')}}</p>
                </div>
                <div class="col-sm-8 pt-5">
                    <img src="assets/images/projeler/3.PNG" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--mobil uygulama-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pt-5">
                    <img src="assets/images/projeler/4.png" alt="Most Otomasyon"/>
                </div>
                <div class="col-sm-4 pt-5">
                    <img src="assets/images/projeler/5.png" alt="Most Otomasyon"/>
                </div>
                <div class="col-sm-4 pl-5">
                    <p class="text-7xl"><b>{{t('mobil-uygulama')}}</b></p>
                    <p class="text-2xl">{{t('mobil-uygulama-yazi')}}</p>
                </div>
            </div>
            <hr>
            <!--yem fabrikası otomasyonu-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-6 pr-5">
                    <p class="text-7xl"><b>{{t('yem-fabrikasi-otomasyonu')}}</b></p>
                    <h3><u>{{t('yem-fabrikasi-elektrik')}}</u></h3>
                    <p class="text-2xl">{{t('yem-fabrikasi-elektrik-yazi')}}</p>
                    <h3><u>{{t('bu-kapsamda-saglanabilen')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('bu-kapsamda-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('bu-kapsamda-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('bu-kapsamda-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('bu-kapsamda-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('bu-kapsamda-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('bu-kapsamda-6')}}</p>
                </div>
                <div class="col-sm-6 pt-5">
                    <img src="assets/images/projeler/6.jpg" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--çimento fabrikası otomasyonu-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5 pt-5">
                    <img src="assets/images/projeler/7.jpg" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/8.png" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-8">
                    <p class="text-7xl"><b>{{t('cimento-fabrikasi-otomasyonu')}}</b></p>
                    <h3><u>{{t('hammadde-kabul')}}</u></h3>
                    <p class="text-2xl">{{t('hammadde-kabul-yazi')}}</p>
                    <h3><u>{{t('proses-otomasyonu')}}</u></h3>
                    <p class="text-2xl">{{t('proses-yazi')}}</p>
                    <h3><u>{{t('otomatik-urun-sevkiyat')}}</u></h3>
                    <p class="text-2xl">{{t('otomatik-urun-sevkiyat-yazi')}}</p>
                    <h3><u>{{t('enerji-yonetim')}}</u></h3>
                    <p class="text-2xl">{{t('enerji-yonetim-yazi')}}</p>
                    <h3><u>{{t('erp-entegrasyonu')}}</u></h3>
                    <p class="text-2xl">{{t('erp-entegrasyonu-yazi')}}</p>
                </div>
            </div>
            <hr>
            <!--tünel-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4">
                    <p class="text-7xl"><b>{{t('tunel')}}</b></p>
                    <h3><u>{{t('tunel-aydinlatma')}}</u></h3>
                    <p class="text-2xl">{{t('tunel-aydinlatma-yazi')}}</p>
                    <h3><u>{{t('tunel-havalandirma')}}</u></h3>
                    <p class="text-2xl">{{t('tunel-havalandirma-yazi')}}</p>
                    <h3><u>{{t('trafik-kamera')}}</u></h3>
                    <p class="text-2xl">{{t('trafik-kamera-yazi')}}</p>
                    <h3><u>{{t('tunel-kazanim')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('tunel-kazanim-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-kazanim-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-kazanim-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-kazanim-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-kazanim-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-kazanim-6')}}</p>
                </div>
                <div class="col-sm-4 pl-5 pt-5">
                    <img src="assets/images/projeler/10.jpg" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/11.jpg" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-4 pl-5 pt-5">
                    <h3><u>{{t('tunel-izleme')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-6')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-7')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-8')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-9')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-10')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-11')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-12')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-13')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-14')}}</p>
                    <p class="text-2xl pl-2">• {{t('tunel-izleme-15')}}</p>
                    <h3><u>{{t('scada-sistemi')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('scada-sistemi-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('scada-sistemi-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('scada-sistemi-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('scada-sistemi-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('scada-sistemi-5')}}</p>
                </div>
            </div>
            <hr>
            <!--atık su-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5 pt-5">
                    <img src="assets/images/projeler/14.jpg" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/13.jpg" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-8">
                    <p class="text-7xl"><b>{{t('atik-su')}}</b></p>
                    <h3><u>{{t('kati-atik')}}</u></h3>
                    <p class="text-2xl">{{t('kati-atik-yazi')}}</p>
                    <h3><u>{{t('otomatik-atik')}}</u></h3>
                    <p class="text-2xl">{{t('otomatik-atik-yazi')}}</p>
                    <h3><u>{{t('proses-otomasyonu')}}</u></h3>
                    <p class="text-2xl">{{t('proses-otomasyon-yazi')}}</p>
                    <h3><u>{{t('otomatik-urun-sevkiyat')}}</u></h3>
                    <p class="text-2xl">{{t('atik-otomatik-urun-sevkiyat-yazi')}}</p>
                    <h3><u>{{t('erp-entegrasyonu')}}</u></h3>
                    <p class="text-2xl">{{t('atik-erp-yazi')}}</p>
                    </div>
            </div>
            <hr>
            <!--jeotermal enerji-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-6 pr-5">
                    <p class="text-7xl"><b>{{t('jeotermal')}}</b></p>
                    <p class="text-2xl">{{t('jeotermal-yazi')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-6')}}</p>
                    <p class="text-2xl pl-2">• {{t('jeo-7')}}</p>
                </div>
                <div class="col-sm-6 pt-5">
                    <img src="assets/images/projeler/17.jpg" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--enerji santralleri-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5">
                    <p class="text-7xl"><b>{{t('enerji-santralleri')}}</b></p>
                    <h3><u>{{t('bes')}}</u></h3>
                    <p class="text-2xl">{{t('bes-yazi')}}</p>
                    <h3><u>{{t('proses-otomasyonu')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('bes-proses-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('bes-proses-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('bes-proses-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('bes-proses-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('bes-proses-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('bes-proses-6')}}</p>
                </div>
                <div class="col-sm-4 pr-5 pt-5">
                    <img src="assets/images/projeler/18.png" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/19.jpeg" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-4 pt-5">
                    <h3><u>{{t('elektrik-altyapisi')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('elektrik-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-6')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-7')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-8')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-9')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-10')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-11')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-12')}}</p>
                    <p class="text-2xl pl-2">• {{t('elektrik-13')}}</p>
                    <h3><u>{{t('enstrumasyon')}}</u></h3>
                    <p class="text-2xl pl-2">• {{t('enst-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('enst-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('enst-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('enst-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('enst-5')}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
