<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="flex-auto pt-5 px-5 sm:p-10">
        <div class="pt-5 px-5 rounded-2xl">
            <!--scada-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-6">
                    <p class="text-7xl"><b>Scada</b></p>
                    <p class="text-2xl">Scada, tüm sahaları kontrol eden ve izleyen merkezi sistemleri ifade eder veya bunlar geniş alanlara yayılmış karmaşık sistemlerdir. Neredeyse tüm kontrol işlemleri, uzak terminal birimleri (RTU) veya programlanabilir mantık kontrolörleri (PLC) tarafından otomatik olarak gerçekleştirilir. Veri toplama, ekipman durum raporlarını ve sayaç okumalarını içeren PLC veya RTU seviyesinde başlar. Veriler daha sonra kontrol odasının operatörü HMI kullanarak normal PLC-RTU kontrollerini geçersiz kılmak veya ayarlamak için denetleyici kararlar alabilecek şekilde biçimlendirir.</p>
                </div>
                <div class="col-sm-6 pt-5 pl-5">
                    <img src="assets/images/projeler/1.PNG" alt="Most Otomasyon" style="max-width: 100%"/>
                </div>
            </div>
            <hr>
            <!--web scada-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pt-5">
                    <img src="assets/images/logo/mostlogo.png" alt="Most Otomasyon"/>
                </div>
                <div class="col-sm-8 pl-5">
                    <p class="text-7xl"><b>Web Scada</b></p>
                    <p class="text-2xl">Web Scada, Browser üzerinde gösterilen scada sistemidir. Müşterinin otomasyon sisteminde esneklikler geliştirmek, yer ve zemin verimliliklerini artırmak, scada sistemi maliyetlerini en aza indirmek için kullanılır. Web tabanlı scada, otomasyon platformunu internet üzerinden sunar ve pahalı scada kontrol odasına gerek kalmadan müşterilerine özel scada sistemleri kurmak için büyük esneklikler sağlar.</p>
                    <h3><u>Web Scada Avantajları</u></h3>
                    <p class="text-2xl pl-2">• Scada kurulum ve çözüm süresi açısından zaman kaybını ortadan kaldırır.</p>
                    <p class="text-2xl pl-2">• Diğer çözümlere göre çok daha düşük maliyetli bir sistemdir.</p>
                    <p class="text-2xl pl-2">• İşlevsellik otomasyon uygulamalarının gereksinimlerini karşılar.</p>
                    <p class="text-2xl pl-2">• İnternet olan tüm cihazlarda (IPAD, TABLET PC veya POCKET PC) kontrol ve izlenebilirlik imkanı.</p>
                    <p class="text-2xl pl-2">• Bakım personeli için ekipman başında kontrol, yönetim için ise fabrikalarını anlık izleme imkanı sağlar.</p>
                </div>
            </div>
            <hr>
            <!--raporlama-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5">
                    <p class="text-7xl"><b>Raporlama</b></p>
                    <p class="text-2xl">Raporlarımız yönetimin işlerini kolaylaştırmak istediği her soruya cevap vermeyi hedef alarak hazırlanmıştır. Yapılan her işlemin en ufak detayı, en kolay ve anlaşılır şekilde gösterebilmek adına tüm veriler sistemde loglanır ve bu veriler kullanıcı dostu web arayüz kullanılarak listelenir. Hangi ürün ne zaman, kim tarafından, hangi oranlarda, ne kadar sürede, hangi vardiyada gibi detaylar ile listelenir. Raporlar sistemimiz web tabanlı olduğundan fabrika ağına bağlanarak dilediğiniz yerden programsız, kurulumsuz erişim imkanı sağlamaktadır.</p>
                </div>
                <div class="col-sm-8 pt-5">
                    <img src="assets/images/projeler/3.PNG" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--mobil uygulama-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5">
                    <p class="text-7xl"><b>Mobil Uygulama</b></p>
                    <p class="text-2xl">Firma yöneticileri, müdürleri ve yetkili çalışanlar; çalışanların yetkilendirmelerini düzenleyebilmektedirler. Yapılan düzenlemelere bağlı olarak çalışanların hangi bilgilere erişebileceğini, hangi bildirimleri (Bakım bildirimleri, günlük rapor bildirimleri) alabileceğini belirleyebilecektirler. Üretimde bir sorun ortaya çıktığında bakımdan sorumlu çalışanların aygıtlarına bildirimler gidecektir. Sorunların yönetimine (İşleme alınması, işlemin bırakılması, transfer edilmesi ve çözümlenmesi) uygulama üzerinden erişilebilecektir. Mobil uygulamamız üzerinden firmalar; üretimi, tüketimi, bakımı ve raporları kontrol edebileceklerdir.</p>
                </div>
                <div class="col-sm-4 pt-5">
                    <img src="assets/images/projeler/4.png" alt="Most Otomasyon"/>
                </div>
                <div class="col-sm-4 pt-5">
                    <img src="assets/images/projeler/5.png" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--yem fabrikası otomasyonu-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5">
                    <p class="text-7xl"><b>Yem Fabrikası Otomasyonu</b></p>
                    <h3><u>Yem Tesisi Elektrik ve Otomasyon Sistemleri</u></h3>
                    <p class="text-2xl">Yem fabrikalarının tüm bölümlerini scada üzerinden izlemek ve proses yazılımları ile kontrolünü, sistemin otomatik çalışmasını sağlamaktadır.</p>
                    <h3><u>Bu Kapsamda Sağlanabilen Otomasyon Hizmetleri</u></h3>
                    <p class="text-2xl pl-2">• Hammadde Transfer Sistemi</p>
                    <p class="text-2xl pl-2">• Dozajlama Sistemi</p>
                    <p class="text-2xl pl-2">• Değirmen ve Mixer Sistemi</p>
                    <p class="text-2xl pl-2">• Pelet Pres Makinesi</p>
                    <p class="text-2xl pl-2">• Mamul Transfer Sistemi</p>
                    <p class="text-2xl pl-2">• Paketleme Makineleri</p>
                </div>
                <div class="col-sm-8 pt-5">
                    <img src="assets/images/projeler/6.jpg" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--çimento fabrikası otomasyonu-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5 pt-5">
                    <img src="assets/images/projeler/9.jpg" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/7.jpg" alt="Most Otomasyon" class="pt-5"/>
                    <img src="assets/images/projeler/8.png" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-8">
                    <p class="text-7xl"><b>Çimento Fabrikası Otomasyonu</b></p>
                    <h3><u>Hammadde Kabul Sistemi</u></h3>
                    <p class="text-2xl">RFID ve/veya Plaka Tanıma teknolojileri kullanılarak tesise giren hammadde hızlı ve tam doğru olarak kayıt edilir.</p>
                    <h3><u>Proses Otomasyonu</u></h3>
                    <p class="text-2xl">Kırıcı, Press, Farin Değirmeni, Homojenizasyon ve Silo, Fırın ve Soğutma, Kömür Değirmeni, Çimento Değirmeni ve Paketleme otomasyon çözümleri sıfırdan kurulan ve/veya modernizasyon ihtiyacı olan tesisler için sunulmaktadır. Entegre Scada-PLC yazılımlar ve çimento endüstrisine özel hazırlanmış kütüphaneler sayesinde yeni tesis otomasyonu ya da mevcut tesis modernizasyonu artık hızlı ve kolay.</p>
                    <h3><u>Otomatik Ürün Sevkiyat Sistemi</u></h3>
                    <p class="text-2xl">RFID ve/veya Plaka Tanıma teknolojileri kullanılarak sevk edilen çimento ve klinker hızlı ve tam doğru olarak kayıt edilir. Yükleme ve çıkış noktalarındaki otomatik denetlemelerle yüksek derecede sevkiyat güvenliği sağlanır.</p>
                    <h3><u>Enerji Yönetim Sistemi</u></h3>
                    <p class="text-2xl">Çimento endüstrisindeki en büyük giderlenden biri olan enerjinin yönetimi, izlenmesi ve raporlanması enerji verimliliği için ön şarttır. Proses otomasyonu ile entegre çalışan sistem ile ton başına maliyeti izlemek ve yönetmek hiç bu kadar kolay olmamıştı.</p>
                    <h3><u>ERP Entegrasyonu</u></h3>
                    <p class="text-2xl">Tüm alt otomasyon sistemlerinin (otomatik hammadde kabul sistemi, proses otomasyonu, otomatik ürün sevkiyat sistemi, enerji yönetim sistemi) firma bünyesindeki ERP sistemi (SAP, Oracle vb.) ile entegrasyonu gerçekleştirilirken tesis içindeki ve/veya dışına bilgi akış ve erişimindeki kısıtlama ve gecikmeler ortadan kalkar.</p>
                </div>
            </div>
            <hr>
            <!--tünel-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4">
                    <p class="text-7xl"><b>Tünel</b></p>
                    <h3><u>Tünel Aydınlatma Sistemi</u></h3>
                    <p class="text-2xl">Otomatik aydınlatma kontrolü luminansmetrelerden alınan bilgi, gece-gündüz, saat bilgisi doğrultusunda, tünel girişi ve içerisinde belirlenen kriterlerde aydınlatmaların kademeli olarak kontrol edilmesidir.</p>
                    <h3><u>Tünel Havalandırma Sistemi</u></h3>
                    <p class="text-2xl">Jetfanların karbon monoksit ve toz partikül sensörlerden gelen bilgi doğrultusunda devreye alınmasıdır. Yangın olayları gibi özel durumlarda; yangın senaryosuna göre sistem devreye girerek ilgili alanda duman tahliyesi sağlanır.</p>
                    <h3><u>Trafik ve Kamera Sistemleri</u></h3>
                    <p class="text-2xl">Seyir halindeki araçlara hız, şerit acil durum bilgilerinin sürücülere anons, radyo, sinyalizasyon ışıkları ve değişken mesajlı tabelalarla uyarılmasının sağlanmasıdır.</p>
                    <h3><u>Tünel Otomasyon Sistemlerinin Sağladıkları</u></h3>
                    <p class="text-2xl pl-2">• Tünel otomasyon uygulamaları için optimum çalışma koşulları ve güvenilirlik</p>
                    <p class="text-2xl pl-2">• Sürekli aydınlatma</p>
                    <p class="text-2xl pl-2">• Hava kalitesi</p>
                    <p class="text-2xl pl-2">• Trafik akışının sağlanması</p>
                    <p class="text-2xl pl-2">• Kesintisiz enerji sağlanması</p>
                    <p class="text-2xl pl-2">• Tünel içindeki işletme ve güvenliği sağlayan ekipmanların kontrolü</p>
                </div>
                <div class="col-sm-4 pl-5 pt-5">
                    <img src="assets/images/projeler/12.jpg" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/10.jpg" alt="Most Otomasyon" class="pt-5"/>
                    <img src="assets/images/projeler/11.jpg" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-4 pl-5 pt-5">
                    <h3><u>Tünel İzleme Sistemi</u></h3>
                    <p class="text-2xl pl-2">• Tünel Havalandırma Sistemleri</p>
                    <p class="text-2xl pl-2">• Tünel Aydınlatması Sistemleri</p>
                    <p class="text-2xl pl-2">• Enerji Dağıtım Sistemi</p>
                    <p class="text-2xl pl-2">• Acil Durum Güç Sistemleri</p>
                    <p class="text-2xl pl-2">• Yangın Algılama ve Söndürme Sistemi</p>
                    <p class="text-2xl pl-2">• Tünel İzleme Sistemi</p>
                    <p class="text-2xl pl-2">• Olay Algılama Sistemi</p>
                    <p class="text-2xl pl-2">• Tünel Trafik Kontrol Sistemi</p>
                    <p class="text-2xl pl-2">• Değişken Hız ve Trafik Şerit Kontrol İşaretleri</p>
                    <p class="text-2xl pl-2">• Değişken Mesaj İşaretleri</p>
                    <p class="text-2xl pl-2">• Araç Sayımı ve Sınıflandırmasının Yapılması</p>
                    <p class="text-2xl pl-2">• Tünel Radyosu</p>
                    <p class="text-2xl pl-2">• Acil Durum Telefon Sistemi</p>
                    <p class="text-2xl pl-2">• Tünel Güvenlik Ekipmanları</p>
                    <p class="text-2xl pl-2">• Meteorolojik Sistemlerin İzlenmesi</p>
                    <h3><u>Scada Sistemi</u></h3>
                    <p class="text-2xl pl-2">• Detaylı İzleme ve Kontrol Ekranı</p>
                    <p class="text-2xl pl-2">• Tüm alt sistemler ile hızlı ve güvenilir haberleşme altyapısı</p>
                    <p class="text-2xl pl-2">• Kontrol sistemi esaslı detaylı raporlama</p>
                    <p class="text-2xl pl-2">• Olay bazlı otomatik çalışma senaryoları oluşturulması</p>
                    <p class="text-2xl pl-2">• Acil Durum Güç Sistemleri</p>
                </div>
            </div>
            <hr>
            <!--atık su-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5 pt-5">
                    <img src="assets/images/projeler/14.jpg" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/13.jpg" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-8">
                    <p class="text-7xl"><b>Atık Su</b></p>
                    <h3><u>Katı Atık İşleme Tesisleri</u></h3>
                    <p class="text-2xl">Proses otomasyonu dahil atık kabulden, gübre üretimine kadar tüm tesis için yüksek teknolojili otomasyon çözümlerini içermektedir.</p>
                    <h3><u>Otomatik Atık Kabul Sistemi</u></h3>
                    <p class="text-2xl">RFID teknolojileri kullanılarak tesise giren atık hızlı ve tam doğru olarak veri kaydı yapılır.</p>
                    <h3><u>Proses Otomasyonu</u></h3>
                    <p class="text-2xl">Arıtma endüstrilerine özel hazırlanmış PLC ve SCADA Programları.</p>
                    <h3><u>Otomatik Ürün Sevkiyat Sistemi</u></h3>
                    <p class="text-2xl">RFID teknolojileri kullanılarak sevk edilen ürün kayıtlarını içerir. Yükleme ve çıkış noktalarındaki otomatik denetlemelerle yüksek derecede sevkiyat güvenliğini arttırmaktadır.</p>
                    <h3><u>ERP Entegrasyonu</u></h3>
                    <p class="text-2xl">Tüm alt otomasyon sistemlerinin (otomatik hammadde kabul sistemi, proses otomasyonu, otomatik ürün sevkiyat sistemi, enerji yönetim sistemi) firma bünyesindeki ERP sistemi (SAP, Oracle vb.) ile entegrasyonu gerçekleştirilirken tesis içindeki ve/veya dışına bilgi akış ve erişimindeki kısıtlama ve gecikmeler ortadan kalkar.</p>
                    </div>
            </div>
            <hr>
            <!--jeotermal enerji-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-6 pr-5">
                    <p class="text-7xl"><b>Jeotermal Enerji</b></p>
                    <p class="text-2xl">Raporlama, Enerji İzleme, Kuyu Başı ve Reenjeksiyon Sistemleri, Yangın Söndürme Sistemleri gibi hatların scada üzerinden kontrolünü sağlamaktır.</p>
                    <p class="text-2xl pl-2">• PLC Sistemleri Yazılımları</p>
                    <p class="text-2xl pl-2">• Saha Kontrol Otomasyonu</p>
                    <p class="text-2xl pl-2">• Proses Enstrümanları Tedarik ve Saha Mühendislik Hizmetleri</p>
                    <p class="text-2xl pl-2">• Enjeksiyon ve Reenjeksiyon Sistem Entegrasyonu</p>
                    <p class="text-2xl pl-2">• PLC ve MCC Sürücü Panoları Tasarım, İmalat, Montaj ve Devreye Alma</p>
                    <p class="text-2xl pl-2">• Alçak Gerilim Pano Özel Tasarım, İmalat ve Montaj</p>
                    <p class="text-2xl pl-2">• Saha Tava ve Kablo Montajı</p>
                </div>
                <div class="col-sm-6 pt-5">
                    <img src="assets/images/projeler/16.jpg" alt="Most Otomasyon"/>
                </div>
            </div>
            <hr>
            <!--enerji santralleri-->
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pr-5">
                    <p class="text-7xl"><b>Enerji Santralleri</b></p>
                    <h3><u>Biyogaz / Biyokütle Enerji Santrali (BES)</u></h3>
                    <p class="text-2xl">Biyogazdan elektrik üretimi, hayvan ya da bitki atıkları gibi organik atıkların doğal bir dönüşüm olan “anaerobic digestion” sürecine sokularak bu süreçten iki ayrı ürün elde edilmesine dayanır.İlk ürün biyogaz denilen, gaz motorundan elektrik üretilmesini sağlayan temiz gaz; ikinci ürün ise tarlalarda kullanılmak üzere yüksek kaliteli gübredir.Biyokütle ile biyogaz enerji santralleri arasındaki fark; biyogaz santrallerinde üretilen gazın, atıkların fiziksel olarak gerçekten yakılması ile ortaya çıkmasıdır. Atıkları yakmak için kullanılan kazan kömürlü termik santrallerdeki kazanların aynısıdır. Dolayısıyla biyokütle santrallerinde her türlü çöp ve atık yakılabilir.</p>
                    <h3><u>Proses Otomasyonu</u></h3>
                    <p class="text-2xl pl-2">• Proses Otomasyonu Sistem Dizaynı</p>
                    <p class="text-2xl pl-2">• Kontrol Sistemi ve Haberleşme Ağı Topolojisi</p>
                    <p class="text-2xl pl-2">• Donanım Konfigürasyonu</p>
                    <p class="text-2xl pl-2">• Lojik Data Akış Diyagramı</p>
                    <p class="text-2xl pl-2">• Proses Akış Şeması Dizaynı</p>
                    <p class="text-2xl pl-2">• Kontrol Panosu Dizaynı</p>
                </div>
                <div class="col-sm-4 pr-5 pt-5">
                    <img src="assets/images/projeler/18.png" alt="Most Otomasyon"/>
                    <img src="assets/images/projeler/20.png" alt="Most Otomasyon" class="pt-5"/>
                    <img src="assets/images/projeler/19.jpeg" alt="Most Otomasyon" class="pt-5"/>
                </div>
                <div class="col-sm-4 pt-5">
                    <h3><u>Elektrik Altyapısı</u></h3>
                    <p class="text-2xl pl-2">• OG / AG Temel ve Detaylı Dizayn</p>
                    <p class="text-2xl pl-2">• Reaktif Güç Kompanzasyonu</p>
                    <p class="text-2xl pl-2">• Trafo, kablo, jeneratör güç hesapları</p>
                    <p class="text-2xl pl-2">• Kısa Devre Hesapları</p>
                    <p class="text-2xl pl-2">• Yük Akış Analizi</p>
                    <p class="text-2xl pl-2">• Röle Koordinasyonu hesapları</p>
                    <p class="text-2xl pl-2">• Harmonik Analiz</p>
                    <p class="text-2xl pl-2">• Güç Kalitesi Analizi</p>
                    <p class="text-2xl pl-2">• Topraklama Sistemi Dizaynı</p>
                    <p class="text-2xl pl-2">• Yıldırımdan Korunma Sistemi Dizaynı</p>
                    <p class="text-2xl pl-2">• Aydınlatma Dizaynı</p>
                    <p class="text-2xl pl-2">• Telefon, Haberleşme, Kamera, yangın Alarm Sistem Dizaynı</p>
                    <p class="text-2xl pl-2">• Genel Yerleşim</p>
                    <h3><u>Enstrümantasyon ve Analiz</u></h3>
                    <p class="text-2xl pl-2">• Debimetre</p>
                    <p class="text-2xl pl-2">• Basınç Transmitteri</p>
                    <p class="text-2xl pl-2">• Seviye Transmitteri</p>
                    <p class="text-2xl pl-2">• Sıcaklık Transmitteri</p>
                    <p class="text-2xl pl-2">• Analitik</p>
                </div>
            </div>
        </div>
    </div>
</div>
