<div class="w-full" *transloco="let t">
    <div class="flex items-start justify-center w-full">
        <!-- Light version -->
        <!--                        <div class="text-4xl font-extrabold text-primary-600">Online Shopping</div>-->
        <img
            class="mx-auto w-2/3"
            src="assets/images/logo/mobile-menu-logo-blue.png"
            alt="Logo image">
    </div>
    <div class="flex items-start justify-center w-full">
        <table class="mx-2 w-full text-center">
            <tr class="border border-1 border-gray">
                <td class="w-1/4 border border-1 border-gray p-6 text-start">
                    <table>
                        <tr>
                            <td>
                                <mat-icon class="icon-size-5 md:icon-size-7 mr-2 text-primary"
                                          [svgIcon]="'mat_outline:bolt'"></mat-icon>
                            </td>
                            <td><b>Fast&Free Shipping</b><br>Fast and free shipping on all order</td>
                        </tr>
                    </table>
                </td>
                <td class="w-1/4 border border-1 border-gray p-6 text-start">
                    <table>
                        <tr>
                            <td>
                                <mat-icon class="icon-size-5 md:icon-size-7 mr-2 text-primary"
                                          [svgIcon]="'mat_outline:support_agent'"></mat-icon>
                            </td>
                            <td><b>7/24 Support</b><br>Contacting 24 hours a day</td>
                        </tr>
                    </table>
                </td>
                <td class="w-1/4 border border-1 border-gray p-6 text-start">
                    <table>
                        <tr>
                            <td>
                                <mat-icon class="icon-size-5 md:icon-size-7 mr-2 text-primary"
                                          [svgIcon]="'mat_outline:money'"></mat-icon>
                            </td>
                            <td><b>%100 Money Back</b><br>Having 15 days to return</td>
                        </tr>
                    </table>
                </td>
                <td class="w-1/4 border border-1 border-gray p-6 text-start">
                    <table>
                        <tr>
                            <td>
                                <mat-icon class="icon-size-5 md:icon-size-7 mr-2 text-primary"
                                          [svgIcon]="'mat_outline:security'"></mat-icon>
                            </td>
                            <td><b>Secure Payment</b><br>Ensuring the secure payment</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

