<div class="w-full" *transloco="let t">
    <div class="flex items-start justify-center w-full">
        <!-- Light version -->
        <!--                        <div class="text-4xl font-extrabold text-primary-600">Online Shopping</div>-->
        <img
            class="mx-auto w-full md:w-2/3 -mb-5"
            src="assets/images/logo/mobile-menu-logo-blue.png"
            alt="Logo image">
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-6 justify-between mx-auto w-full">
        <fuse-card class="flex items-center max-w-80 w-full p-3 md:p-6 filter-info bg-gradient">
            <mat-icon
                class="icon-size-8 md:icon-size-12 md:mr-6 mr-3" color="primary"
                [svgIcon]="'feather:zap'"></mat-icon>
            <div class="flex flex-col">
                <div class="md:text-2xl text-xl font-semibold leading-tight">Fast Delivery</div>
                <div class="md:text-md text-sm text-secondary">After payment approved</div>
            </div>
        </fuse-card>
<!--        <fuse-card class="flex items-center max-w-80 w-full p-3 md:p-6 filter-info bg-gradient">-->
<!--            <mat-icon-->
<!--                class="icon-size-8 md:icon-size-12  md:mr-6 mr-3" color="primary"-->
<!--                [svgIcon]="'feather:dollar-sign'"></mat-icon>-->
<!--            <div class="flex flex-col">-->
<!--                <div class="md:text-2xl text-xl font-semibold leading-tight">Money Back</div>-->
<!--                <div class="md:text-md text-sm text-secondary">Having 15 days to return</div>-->
<!--            </div>-->
<!--        </fuse-card>-->
        <fuse-card class="flex items-center max-w-80 w-full p-3 md:p-6 filter-info bg-gradient">
            <mat-icon
                class="icon-size-8 md:icon-size-12  md:mr-6 mr-3" color="primary"
                [svgIcon]="'feather:code'"></mat-icon>
            <div class="flex flex-col">
                <div class="md:text-2xl text-xl font-semibold leading-tight">Custom Product</div>
                <div class="md:text-md text-sm text-secondary">Upon customer request</div>
            </div>
        </fuse-card>
        <fuse-card class="flex items-center max-w-80 w-full p-3 md:p-6 filter-info bg-gradient">
            <mat-icon
                class="icon-size-8 md:icon-size-12  md:mr-6 mr-3" color="primary"
                [svgIcon]="'feather:shield'"></mat-icon>
            <div class="flex flex-col">
                <div class="md:text-2xl text-xl font-semibold leading-tight">Secure Payment</div>
                <div class="md:text-md text-sm text-secondary">Ensuring the reliability</div>
            </div>
        </fuse-card>
        <fuse-card class="flex items-center max-w-80 w-full p-3 md:p-6 filter-info bg-gradient">
            <mat-icon
                class="icon-size-8 md:icon-size-12  md:mr-6 mr-3" color="primary"
                [svgIcon]="'feather:mail'"></mat-icon>
            <div class="flex flex-col">
                <div class="md:text-2xl text-xl font-semibold leading-tight">7/24 Support</div>
                <div class="md:text-md text-sm text-secondary">Contacting every moment</div>
            </div>
        </fuse-card>
    </div>
    <div class="flex items-start justify-around w-full bg-warn-600 p-3" [routerLink]="'/shop'">
        <div class="text-3xl font-extrabold text-white">🔥Special Offers🔥</div>
    </div>
    <div class="grid grid-cols-3 md:grid-cols-6 gap-4 p-6 justify-between mx-auto w-full">
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-gradient" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1"
                src="assets/images/techs/ios.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-gradient" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1"
                src="assets/images/techs/android.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-gradient" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1"
                src="assets/images/techs/browsers.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-gradient" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1"
                src="assets/images/techs/macos.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-gradient" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1"
                src="assets/images/techs/windows.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-gradient" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1"
                src="assets/images/techs/linux.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-white" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto p-4 techs"
                src="assets/images/techs/flutter.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-white" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1 techs"
                src="assets/images/techs/htmlcssjs.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-white" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1 techs"
                src="assets/images/techs/netcore.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-white" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto p-4 techs"
                src="assets/images/techs/csharp.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-white" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1 techs"
                src="assets/images/techs/sql.png"
                alt="Card cover image">
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 h-30 md:h-50 w-full filter-article bg-white" [routerLink]="'/shop'">
            <img
                class="object-cover my-auto px-1 techs"
                src="assets/images/techs/db.png"
                alt="Card cover image">
        </fuse-card>
    </div>
<!--    <div class="flex items-start justify-around w-full bg-primary p-2" [routerLink]="'/shop'">-->
<!--        <div class="text-md md:text-2xl font-extrabold text-white">We have recommendations for you...</div>-->
<!--    </div>-->
</div>

