@media (max-width: 767px) {
    .header-btn-collapse-nav {
      display: block !important;
    }
  }
  
  @media (max-width: 767px) {
    .dropdown-menu {
      display: block !important;
    }
  }

  @media (max-width: 767px) {
    .col-lg-5.pe-lg-5.m-5.p-5.mb-lg-0 {
      display: none;
    }
  }
  