<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="pt-6 px-6 rounded-2xl">
            <div class="row">
                <div class="col-sm-6 xl:pb-20" style="padding-right: 50px">
                    <div>
                        <img src="assets/images/logo/mostlogo.png" alt="Most Otomasyon"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="text-6xl font-extrabold tracking-tight xl:mt-20 lg:mt-0">Most Otomasyon</h1>
                    <h1 class="text-4xl font-extrabold tracking-tight">Elektrik Elektronik Sanayi ve Ticaret Limited Şirketi</h1>
                    <p class="text-2xl">
                        Mekanik, elektronik ve bilgisayar tabanlı sistemlerin kontrol etmesi ile ilişkin bir teknoloji sistemini hızlı, ekonomik, yüksek kalitede sunmayı hedefleyen kuruluştur.
                        Varlıklarını etkin ve verimli yönetmek isteyen kurumlar için Otomasyon ve Endüstriyel IT çözümleri sunmaktadır.
                        Kurumlar için değer yaratan ve entegrasyonun geleceğini yüksek teknik becerisi ile biçimlendiren Most Otomasyon, sunduğu yüksek kaliteli çözümler için gücünü altyapısından, vizyonundan ve etkili proje yönetiminden alır.
                    </p>
                </div>
            </div>
            <br>
            <hr>
            <div class="row text-center">
                <h1 class="text-7xl font-extrabold tracking-tight">Hizmetlerimiz</h1>
            </div>
            <hr>
            <div class="row pt-5">
                <div class="col-sm-4">
                    <img src="assets/images/photos/2.jpg" alt="Most Otomasyon" style="height: 400px; border-radius: 25px"/>
                </div>
                <div class="col-sm-4 text-center">
                    <h1 class="text-5xl font-extrabold tracking-tight pt-8 pb-5">Mühendislik</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight pb-5">Yazılım</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight pb-5">Proje</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight pb-5">Pano</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight">Danışmanlık</h1>
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/photos/1.jpg" alt="Most Otomasyon" style="height: 400px; border-radius: 25px"/>
                </div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-sm-4 pl-5">
                    <h1 class="text-4xl font-extrabold tracking-tight">Most Otomasyon’un Faaliyet Alanları</h1>
                    <p class="text-2xl pl-2">• PLC Programlama</p>
                    <p class="text-2xl pl-2">• SCADA programlama</p>
                    <p class="text-2xl pl-2">• AG, MCC, PLC Panoları İmalatı</p>
                    <p class="text-2xl pl-2">• Modernizasyon Projeleri</p>
                    <p class="text-2xl pl-2">• Anahtar Teslimi, Elektrik-Otomasyon Projeleri</p>
                    <p class="text-2xl pl-2">• Teknik Destek ve Danışmanlık</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4 pl-5">
                    <h1 class="text-4xl font-extrabold tracking-tight">Most Otomasyon’un Sunduğu Sektörel Çözümler</h1>
                    <p class="text-2xl pl-2">• Yem Fabrikaları Komple Elektrik-Otomasyon ve Scada Sistemi</p>
                    <p class="text-2xl pl-2">• Tünel Otomasyon ve Kontrol Sistemleri</p>
                    <p class="text-2xl pl-2">• Çimento Fabrikaları</p>
                    <p class="text-2xl pl-2">• Atık Su Arıtma Tesisleri Anahtar Teslimi Elektrik-Otomasyon ve Scada Sistemi</p>
                    <p class="text-2xl pl-2">• Enerji İzleme ve Yönetimi</p>
                    <p class="text-2xl pl-2">• ERP Entegrasyonu</p>
                    <p class="text-2xl pl-2">• Enerji Santralleri için Hizmetler</p>
                    <p class="text-2xl pl-2">• Proses Otomasyonu</p>
                    <p class="text-lg pl-5">•• Proses Otomasyonu Sistem Dizaynı</p>
                    <p class="text-lg pl-5">•• Kontrol Sistemi ve Haberleşme Ağı Topolojisi</p>
                    <p class="text-lg pl-5">•• Donanım Konfigürasyonu</p>
                    <p class="text-lg pl-5">•• Lojik Data Akış Diyagramı</p>
                    <p class="text-lg pl-5">•• Proses Akış Şeması Dizaynı</p>
                    <p class="text-lg pl-5">•• Kontrol Panosu Dizaynı</p>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <h1 class="text-7xl font-extrabold tracking-tight">Projelerimiz</h1>
            </div>
            <hr>
            <div class="row p-5">
                <div class="col-sm-6 p-5">
                    <img src="assets/images/anasayfa/cimento_anasayfa.png" alt="" matTooltip="Çimento Fabrikası Otomasyonu" style="height: 400px; border-radius: 25px">
                </div>
                <div class="col-sm-6 p-5">
                    <img src="assets/images/anasayfa/yemfabrikasi_anasayfa.jpg" alt="" matTooltip="Yem Fabrikası Otomasyonu" style="height: 400px; border-radius: 25px">
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-6 p-5">
                    <img src="assets/images/anasayfa/tuneller_anasayfa.jpg" alt="" matTooltip="Tünel Otomasyonu" style="height: 400px; border-radius: 25px">
                </div>
                <div class="col-sm-6 p-5">
                    <img src="assets/images/anasayfa/atiksu_anasayfa.jpg" alt="" matTooltip="Atık Su Otomasyonu" style="height: 400px; border-radius: 25px">
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-6 p-5">
                    <img src="assets/images/anasayfa/bes_anasayfa.jpeg" alt="" matTooltip="Bes Otomasyonu" style="height: 400px; border-radius: 25px">
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <h1 class="text-7xl font-extrabold tracking-tight">Referanslarımız</h1>
            </div>
            <hr>
            <div class="row p-5">
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/sutas.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/cpf.jpeg" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/nuh.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/tinaztepe.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/kilic.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/lezitabalik.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/gumusdoga.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/sanko.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/uck.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/buryem.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/onal.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/diyarbakir.jpeg" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/tsgi.jpeg" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/agromey.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/tarimkredikoop.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 35px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/sek.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/bayramoglu.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/sunarözlemlogoo.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 5px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/adnan-menderes.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/cimentas.png" alt="" style="height: 100%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/aynes.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/basyem.png" alt="" style="height: 40%; width: 70%; margin-left: auto; margin-right: auto; margin-top: 10%; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-2 p-2 text-center">
                    <img src="assets/images/site/belenco.png" alt="" style="height: 30%; width: 70%; margin-left: auto; margin-right: auto; margin-top: 15%; margin-bottom: auto;">
                </div>
            </div>
<!--            <div class="row p-5">-->
<!--                <div class="col-sm-2 p-2 text-center">-->
<!--                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">-->
<!--                </div>-->
<!--                <div class="col-sm-2 p-2 text-center">-->
<!--                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">-->
<!--                </div>-->
<!--                <div class="col-sm-2 p-2 text-center">-->
<!--                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">-->
<!--                </div>-->
<!--                <div class="col-sm-2 p-2 text-center">-->
<!--                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">-->
<!--                </div>-->
<!--                <div class="col-sm-2 p-2 text-center">-->
<!--                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">-->
<!--                </div>-->
<!--                <div class="col-sm-2 p-2 text-center">-->
<!--                    <img src="assets/images/site/abali.png" alt="" style="height: 70%; width: 70%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 25px">-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
