<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="p-12 rounded-2xl">
            <div class="row">
                <div class="col-sm-6 xl:pb-20" style="padding-right: 50px">
                    <div>
                        <img src="assets/images/logo/most2.jpg" alt="Most Otomasyon"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="text-6xl font-extrabold tracking-tight xl:mt-20 lg:mt-0">Most Otomasyon</h1>
                    <h1 class="text-4xl font-extrabold tracking-tight">Elektrik Elektronik Sanayi ve Ticaret Limited Şirketi</h1>
                    <p class="text-2xl">
                        Mekanik, elektronik ve bilgisayar tabanlı sistemlerin kontrol etmesi ile ilişkin bir teknoloji sistemini hızlı, ekonomik, yüksek kalitede sunmayı hedefleyen kuruluştur.
                        Varlıklarını etkin ve verimli yönetmek isteyen kurumlar için Otomasyon ve Endüstriyel IT çözümleri sunmaktadır.
                        Kurumlar için değer yaratan ve entegrasyonun geleceğini yüksek teknik becerisi ile biçimlendiren Most Otomasyon, sunduğu yüksek kaliteli çözümler için gücünü altyapısından, vizyonundan ve etkili proje yönetiminden alır.
                    </p>
                </div>
            </div>
            <br>
            <hr>
            <div class="row text-center">
                <h1 class="text-7xl font-extrabold tracking-tight">Hizmetlerimiz</h1>
            </div>
            <hr>
            <div class="row pt-5">
                <div class="col-sm-4">
                    <img src="assets/images/photos/2.jpg" alt="Most Otomasyon" style="height: 400px"/>
                </div>
                <div class="col-sm-4 text-center">
                    <h1 class="text-5xl font-extrabold tracking-tight pt-8 pb-5">Mühendislik</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight pb-5">Yazılım</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight pb-5">Proje</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight pb-5">Pano</h1>
                    <h1 class="text-5xl font-extrabold tracking-tight">Danışmanlık</h1>
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/photos/1.jpg" alt="Most Otomasyon" style="height: 400px"/>
                </div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-sm-4">
                    <h1 class="text-4xl font-extrabold tracking-tight">Most Otomasyon’un Faaliyet Alanları</h1>
                    <p class="text-2xl">• PLC Programlama</p>
                    <p class="text-2xl">• SCADA programlama</p>
                    <p class="text-2xl">• AG, MCC, PLC Panoları İmalatı</p>
                    <p class="text-2xl">• Modernizasyon Projeleri</p>
                    <p class="text-2xl">• Anahtar Teslimi, Elektrik-Otomasyon Projeleri</p>
                    <p class="text-2xl">• Teknik Destek ve Danışmanlık</p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h1 class="text-4xl font-extrabold tracking-tight">Most Otomasyon’un Sunduğu Sektörel Çözümler</h1>
                    <p class="text-2xl">• Yem Fabrikaları Komple Elektrik-Otomasyon ve Scada Sistemi</p>
                    <p class="text-2xl">• Tünel Otomasyon ve Kontrol Sistemleri</p>
                    <p class="text-2xl">• Çimento Fabrikaları</p>
                    <p class="text-2xl">• Atık Su Arıtma Tesisleri Anahtar Teslimi Elektrik-Otomasyon ve Scada Sistemi</p>
                    <p class="text-2xl">• Enerji İzleme ve Yönetimi</p>
                    <p class="text-2xl">• ERP Entegrasyonu</p>
                    <p class="text-2xl">• Enerji Santralleri için Hizmetler</p>
                    <p class="text-2xl">• Proses Otomasyonu</p>
                    <p class="text-2xl">•• Proses Otomasyonu Sistem Dizaynı</p>
                    <p class="text-2xl">•• Kontrol Sistemi ve Haberleşme Ağı Topolojisi</p>
                    <p class="text-2xl">•• Donanım Konfigürasyonu</p>
                    <p class="text-2xl">•• Lojik Data Akış Diyagramı</p>
                    <p class="text-2xl">•• Proses Akış Şeması Dizaynı</p>
                    <p class="text-2xl">•• Kontrol Panosu Dizaynı</p>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <h1 class="text-7xl font-extrabold tracking-tight">Projelerimiz</h1>
            </div>
            <hr>
        </div>
    </div>
</div>
