<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex items-center justify-between w-full">
                    <div>
                        <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            Datatable9 w/Service Request</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded-2xl p-10 sm:p-10 lg:p-10" style="width: 100%;">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="athletes"
            height="100%"
            [showBorders]="true">
            <dxi-column dataField="age" alignment="center" width="100"></dxi-column>
            <dxi-column dataField="athlete" alignment="center"></dxi-column>
            <dxi-column dataField="country" alignment="center"></dxi-column>
            <dxi-column dataField="sport" alignment="center"></dxi-column>
            <dxi-column dataField="gold" caption="Gold Medal" width="120" alignment="center"></dxi-column>
            <dxi-column dataField="silver" caption="Silver Medal" width="120" alignment="center"></dxi-column>
            <dxi-column dataField="bronze" caption="Bronze Medal" width="120" alignment="center"></dxi-column>
            <dxi-column dataField="total" caption="Total Medal" width="120" alignment="center"></dxi-column>
            <dxo-toolbar>
                <dxi-item name="groupPanel"></dxi-item>
                <dxi-item location="after" style="padding-right:15px">
                    <dx-drop-down-button
                        [splitButton]="false"
                        [useSelectMode]="true"
                        text="Choose a year"
                        icon="filter"
                        [items]="yearsInOlympics"
                        (onItemClick)="itemClicked($event)"
                    ></dx-drop-down-button>
                </dxi-item>
                <dxi-item location="after" style="padding-right:15px">
                    <dx-button
                        icon="pdffile"
                        [width]="50"
                        (onClick)="exportPDF()">
                    </dx-button>
                </dxi-item>
                <dxi-item location="after" style="padding-right:15px">
                    <dx-button
                        icon="xlsxfile"
                        [width]="50"
                        (onClick)="exportExcel()">
                    </dx-button>
                </dxi-item>
                <dxi-item location="after">
                    <dx-button
                        icon="docxfile"
                        [width]="50"
                        (onClick)="exportWord()">
                    </dx-button>
                </dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
            <dxo-summary>
                <dxi-total-item
                    column="age"
                    summaryType="min">
                </dxi-total-item>
                <dxi-total-item
                    column="age"
                    summaryType="max">
                </dxi-total-item>
                <dxi-total-item
                    column="age"
                    summaryType="avg"
                    valueFormat="#0.0">
                </dxi-total-item>
                <dxi-total-item
                    column="athlete"
                    summaryType="count">
                </dxi-total-item>
                <dxi-total-item
                    column="total"
                    summaryType="avg"
                    showInColumn="athlete"
                    valueFormat="#0.00">
                </dxi-total-item>
                <dxi-total-item
                    column="athlete"
                    summaryType="count"
                    [displayFormat]="'Different Athletes: '+this.exhibitors">
                </dxi-total-item>
                <dxi-total-item
                    column="country"
                    summaryType="count"
                    [displayFormat]="'Different Countries: '+this.countries">
                </dxi-total-item>
                <dxi-total-item
                    column="sport"
                    summaryType="count"
                    [displayFormat]="'Different Sports: '+this.sports">
                </dxi-total-item>
                <dxi-total-item
                    column="gold"
                    summaryType="max">
                </dxi-total-item>
                <dxi-total-item
                    column="gold"
                    summaryType="sum">
                </dxi-total-item>
                <dxi-total-item
                    column="silver"
                    summaryType="max">
                </dxi-total-item>
                <dxi-total-item
                    column="silver"
                    summaryType="sum">
                </dxi-total-item>
                <dxi-total-item
                    column="bronze"
                    summaryType="max">
                </dxi-total-item>
                <dxi-total-item
                    column="bronze"
                    summaryType="sum">
                </dxi-total-item>
                <dxi-total-item
                    column="total"
                    summaryType="max">
                </dxi-total-item>
                <dxi-total-item
                    column="total"
                    summaryType="sum">
                </dxi-total-item>
            </dxo-summary>
            <dxo-selection [allowSelectAll]="true"></dxo-selection>
            <dxo-search-panel [visible]="true" width="300"></dxo-search-panel>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="[10, 50, 100, 200, 500]" [showNavigationButtons]="true"></dxo-pager>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
        </dx-data-grid>
    </div>
</div>
