<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex items-center justify-between w-full">
                    <div>
                        <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            Datatable8</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded-2xl p-10 sm:p-10 lg:p-10" style="width: 100%;">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="employees"
            height="100%"
            keyExpr="ID"
            [showBorders]="true"
        >
            <dxi-column dataField="Prefix" caption="Title" [width]="70"></dxi-column>
            <dxi-column dataField="FirstName"></dxi-column>
            <dxi-column dataField="LastName"></dxi-column>
            <dxi-column dataField="Position"></dxi-column>
            <dxi-column dataField="State" [width]="200"></dxi-column>
            <dxi-column dataField="BirthDate" dataType="date" [width]="130"></dxi-column>
            <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
            <div *dxTemplate="let employee of 'detail'">
                <div class="master-detail-caption">{{
                    employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"
                    }}</div>
                <detail-grid [key]="employee.key"></detail-grid>
            </div>
            <dxo-toolbar>
                <dxi-item name="groupPanel"></dxi-item>
                <dxi-item location="after" style="padding-right:15px">
                    <dx-button
                        icon="pdffile"
                        [width]="50"
                        (onClick)="exportPDF()">
                    </dx-button>
                </dxi-item>
                <dxi-item location="after">
                    <dx-button
                        icon="xlsxfile"
                        [width]="50"
                        (onClick)="exportExcel()">
                    </dx-button>
                </dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
            <dxo-summary>
                <dxi-total-item
                    column="BirthDate"
                    summaryType="count">
                    <!--                    summaryType="min"-->
                    <!--                    summaryType="max"-->
                    <!--                    summaryType="avg"-->
                    <!--                    summaryType="sum"-->
                    <!--                    summaryType="count"-->
                    <!--                >-->
                </dxi-total-item>
                <dxi-total-item
                    column="BirthDate"
                    summaryType="min">
                </dxi-total-item>
                <dxi-total-item
                    column="BirthDate"
                    summaryType="max">
                </dxi-total-item>
                <!--                <dxi-total-item-->
                <!--                    column="BirthDate"-->
                <!--                    summaryType="avg">-->
                <!--                </dxi-total-item>-->
                <!--                <dxi-total-item-->
                <!--                    column="BirthDate"-->
                <!--                    summaryType="sum">-->
                <!--                </dxi-total-item>-->
                <!--                <dxi-total-item-->
                <!--                    column="Id"-->
                <!--                    showInColumn="City"-->
                <!--                    summaryType="sum">-->
                <!--                </dxi-total-item>-->
            </dxo-summary>
            <dxo-selection [allowSelectAll]="true"></dxo-selection>
            <dxo-export [enabled]="true" [fileName]="'datatable5'"  ></dxo-export>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
        </dx-data-grid>
    </div>
</div>
