<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" *transloco="let t" cdkScrollable style="background: #3a2a6d">
    <div class="flex-auto pt-5 px-5 sm:p-10">
        <div class="pt-5 px-5 rounded-2xl">
            <div class="center" style="margin-top: 140px">
                <img src="assets/images/logo/googleplay512_512.jpg" alt="" style="width:60%; height:60%; margin-right:auto; margin-left:auto; border-radius: 50%">
                <br>
                <h5><b><u>{{t('vizyonumuz')}}:</u></b></h5>
                <h6>{{t('vizyon-yazi')}}</h6>
                <h5><b><u>{{t('misyonumuz')}}:</u></b></h5>
                <h6>{{t('misyon-yazi')}}</h6>
                <h5><b><u>{{t('most-otomasyon-faaliyet-alanlari')}}:</u></b></h5>
                <h6>• {{t('plc-programlama')}}</h6>
                <h6>• {{t('scada-programlama')}}</h6>
                <h6>• {{t('ag-mcc-plc-panolari-imalati')}}</h6>
                <h6>• {{t('modernizasyon-projeleri')}}</h6>
                <h6>• {{t('anahtar-teslimi-elektrik-otomasyon-projeleri')}}</h6>
                <h6>• {{t('teknik-destek-ve-danismanlik')}}</h6>
                <h5><b><u>{{t('most-otomasyonun-sundugu-sektorel-cozumler')}}:</u></b></h5>
                <h6>• {{t('yem-fabrikalari-komple-elektrik-otomasyon-ve-scada-sistemi')}}</h6>
                <h6>• {{t('tunel-otomasyon-ve-kontrol-sistemleri')}}</h6>
                <h6>• {{t('cimento-fabrikalari')}}</h6>
                <h6>• {{t('atik-su-aritma-tesisleri-anahtar-teslimi-elektrik-otomasyon-ve-scada-sistemi')}}</h6>
                <h6>• {{t('enerji-izleme-ve-yonetimi')}}</h6>
                <h6>• {{t('erp-entegrasyonu')}}</h6>
                <h6>• {{t('enerji-santralleri-icin-hizmetler')}}</h6>
                <h6>• {{t('proses-otomasyonu')}}</h6>
                <br>
            </div>
        </div>
    </div>
</div>
