<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex items-center justify-between w-full">
                    <div>
                        <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            Datatable3</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded-2xl p-10 sm:p-10 lg:p-10" style="width: 100%; height: 100%">
        <div class="row">
            <div class="col-sm-9">
<!--                <ngx-datatable class="material table table-striped single-selection whitespace-nowrap pt-5 pl-5"-->
<!--                               [rows]="rows"-->
<!--                               [columnMode]="columnMode.force"-->
<!--                               [headerHeight]="60"-->
<!--                               rowHeight="50">-->
<!--                    <ngx-datatable-column name="Name">-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>-->
<!--                        <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                            {{value}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Gender">-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>-->
<!--                        <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                            {{value}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Company">-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>-->
<!--                        <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                            {{value}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Name2">-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>-->
<!--                        <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                            {{value}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Gender2">-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>-->
<!--                        <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                            {{value}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                    <ngx-datatable-column name="Company2">-->
<!--                        <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>-->
<!--                        <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--                            {{value}}-->
<!--                        </ng-template>-->
<!--                    </ngx-datatable-column>-->
<!--                </ngx-datatable>-->
                <ngx-datatable style="width: 90%"
                    class="material whitespace-nowrap single-selection pt-2"
                    [loadingIndicator]="loadingIndicator"
                    [rows]="rows"
                    [columnMode]="columnMode.force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [limit]="5"
                    rowHeight="60">
                    <ngx-datatable-column *ngFor="let col of columns" [name]="col.name.toUpperCase()"></ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div class="selected-column col-sm-3">
                <div>
                    <h1 class="text-2xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate pt-3">
                        Available Columns</h1>
                </div>
                <mat-divider></mat-divider>
                <ul>
                    <li *ngFor="let col of allColumns">
                        <table>
                            <tr>
                                <td>  <input class="color-input" type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)"/></td>
                                <td class="pl-2 pt-1">{{col.name}}</td>
                            </tr>
                        </table>
<!--                        <label class="pl-2">{{ col.name }}-->
<!--                            <input class="red-input" type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)"/>-->
<!--                        </label>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
