<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" *transloco="let t" cdkScrollable style="background: white">

    <!-- Main -->
    <div class="flex-auto pt-5 px-5">

        <!-- CONTENT GOES HERE -->
        <div class="pt-5 px-5 rounded-2xl">
            <div class="row pt-5 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/abalim.png" alt="" style="height: 70%; width: 70%;margin-top: auto; margin-bottom: auto;">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/cpf.jpeg" alt="" style="height: 70%; width: 70%;margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/sutas.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/uck.png" alt="" style="height: 20%; width: 70%; margin-top: 25%; margin-bottom: 25%; border-radius: 5px">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('abalim-yem')}}</b></h3>
                    <p class="text-2xl pl-2"><u>{{t('burdur-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim-100')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('konya-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim-80')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('biga-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('mcc-panolari-modernizasyon')}}</p>
                    <p class="text-xl pl-4">• {{t('otomasyon-yenileme')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('turgutlu-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('polatli-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('mersin-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('denizli-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('cp-yem')}}</b></h3>
                    <p class="text-2xl pl-2"><u>{{t('inegol-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('komple-yem-fab')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('tarsus-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('komple-yem-fab')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('ankara-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('komple-yem-fab')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('hendek-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('celik-silo-oto')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('hayrabolu-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('mcc-panolari-modernizasyon')}}</p>
                    <p class="text-xl pl-4">• {{t('otomasyon-yenileme')}}</p>
                    <p class="text-xl pl-4">• {{t('celik-silo-oto')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('tarfas-yem')}}</b></h3>
                    <p class="text-2xl pl-2"><u>{{t('tire-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim-40')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('aksaray-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('karacabey-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                    <p class="text-xl pl-4">• {{t('otomasyon-yenileme')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('bingol-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('devam-eden-proje')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('uck-enerji')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('uck-1')}}</p>
                    <p class="text-2xl pl-2">• {{t('uck-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('uck-3')}}</p>
                    <p class="text-2xl pl-2">• {{t('uck-4')}}</p>
                    <p class="text-2xl pl-2">• {{t('uck-5')}}</p>
                    <p class="text-2xl pl-2">• {{t('uck-6')}}</p>
                    <p class="text-2xl pl-2">• {{t('uck-7')}}</p>
                </div>
            </div>

            <div class="row pt-10 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/nuh.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/kilic.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/gumusdoga.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/star.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('nuh-cimento')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('oyts')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('kilic-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('mcc-panolari-modernizasyon')}}</p>
                    <p class="text-xl pl-4">• {{t('otomasyon-yenileme')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('gumusdoga-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim-20')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('star-rafineri')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('yazilim-destegi')}}</p>

                </div>
            </div>

            <div class="row pt-10 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/bayramoglu.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/lezita.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 35px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/tinaztepe.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/sanko.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('bayramoglu-yem')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('fabrika1-2')}}</p>
                    <p class="text-2xl pl-2">• {{t('modernizasyon-proje-kapsami')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('lezita')}}</b></h3>
                    <p class="text-2xl pl-2"><u>{{t('mersin-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim')}}</p>
                    <p class="text-2xl pl-2"><u>{{t('denizli-fab')}}</u></p>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('tinaztepe-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim-20')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('sanko')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('uretim-kuyulari')}}</p>

                </div>
            </div>

            <div class="row pt-10 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/sunarözlemlogoo.png" alt="" style="height: 40%; width: 70%; margin-top: 15%; margin-bottom: 15%; border-radius: 5px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/onal.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/tarimkredikoop.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 95px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/tsgi.jpeg" alt="" style="height: 50%; width: 70%; margin-top: 10%; margin-bottom: 10%; border-radius: 25px">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('sunar-ozlem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('modernizasyon-ilave-hatlar')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('onal-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('mcc-panolari-modernizasyon')}}</p>
                    <p class="text-xl pl-4">• {{t('otomasyon-yenileme')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('tarim-kredi')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('tsgi')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('tsgi-yazi')}}</p>

                </div>
            </div>

            <div class="row pt-10 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/ayyem.jpeg" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 10px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/buryem.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/boyraz.jpeg" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 15px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/adnan-menderes.png" alt="" style="height: 70%; width: 75%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('ayyem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('mcc-panolari-modernizasyon')}}</p>
                    <p class="text-xl pl-4">• {{t('otomasyon-yenileme')}}</p>
                    <p class="text-xl pl-4">• {{t('yeni-uretim-hatti')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('buryem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('boyraz-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('modernizasyon-proje-kapsami')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('adu')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('adu-yazi')}}</p>

                </div>
            </div>

            <div class="row pt-10 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/diyarbakir.jpeg" alt="" style="height: 30%; width: 70%; margin-top: 20%; margin-bottom: 20%; border-radius: 5px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/sek.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: auto; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/basyem.png" alt="" style="height: 30%; width: 70%; margin-top: 20%; margin-bottom: 20%; border-radius: 15px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/cimentas.png" alt="" style="height: 70%; width: 70%; margin-top: auto; margin-bottom: 50%; border-radius: 25px">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('diyarbakir-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('sek-sut')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('adp-mcc')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('basmakci-yem')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('anahtar-teslim-20')}}</p>

                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('cimentas')}}</b></h3>
                    <p class="text-2xl pl-2">• {{t('sistem-modernizasyon')}}</p>
                </div>
            </div>

            <div class="row pt-10 px-6 nomobile">
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/agromey.png" alt="" style="height: 50%; width: 70%; margin-top: 10%; margin-bottom: 10%; border-radius: 25px">
                </div>
                <div class="col-sm-3 text-center">
                    <img src="assets/images/site/belenco.png" alt="" style="height: 30%; width: 70%; margin-top: 15%; margin-bottom: auto;">
                </div>
                <div class="col-sm-3 text-center">
                </div>
                <div class="col-sm-3 text-center">
                </div>
            </div>
            <div class="row px-6">
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('agromey')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('modernizasyon-ilave-hatlar')}}</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-4xl font-extrabold tracking-tight"><b>{{t('belenco')}}</b></h3>
                    <p class="text-xl pl-4">• {{t('mcc-panolari-modernizasyon')}}</p>
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                </div>
            </div>

        </div>

    </div>

</div>
